.contact-component {
  padding: 0 3px;

  &.active {
    background: $black;
    color: $white;

    .contact-inner-wrapper {
      border-color: $white;
    }

    .contact-toggle-state {
      .icon {
        border-color: $white;
      }
    }

    &:first-child {
      border: none;

      .contact-inner-wrapper {
        border-top: solid $white 1px;
      }
    }

    .image-wrapper {
      border: solid $white 3px;
    }

    &:last-child {
      .contact-inner-wrapper {
        border-bottom: solid 1px $white;
      }
    }
  }

  .contact-inner-wrapper {
    border-top: solid $black 1px;
    padding: 12px 10px;
  }

  &:first-child {
    border-top: solid $black 1px;

    .contact-inner-wrapper {
      border: none;
    }
  }

  &:last-child {
    .contact-inner-wrapper {
      border-bottom: solid 1px $black;
    }
  }
}
