#contacts-picker {
  background: $white;
  bottom: 114px;
  color: $black;
  margin: 0;
  overflow-y: scroll;
  position: absolute;
  top: 102px;
  width: 100%;

  &.error-mode {
    top: 170px;
  }
}
