#flash-component {
  color: #fff;
  left: 10px;
  margin-bottom: 15px;
  max-height: 5.62rem;
  overflow: scroll;
  padding: 10px;
  position: fixed;
  right: 10px;
  text-align: left;
  top: 10px;

  &.error {
    background: $red;
  }

  ul {
    font-size: 0.75rem;
    list-style: none;
    margin: 0;
    padding: 0 10px;
  }
}
