#home-component {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 49%, rgba(0, 0, 0, 0.2) 100%), url("../img/home/ankling_car.jpg") no-repeat center top;
  background-size: cover;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  top: 57px;
  overflow: hidden;
  position: absolute;

  .create-plus {
    display: block;
    font-size: 4.21rem;
    height: 5.62rem;
    line-height: 1;
    margin: 0 auto;
    padding: .56rem;
    width: 5.62rem;
  }

  h1 {
    font-size: 2.96rem;
    margin-bottom: 1rem;
  }

  h4 {
    margin-top: 1.33rem;
  }

  .header-box {
    margin-bottom: 0;
  }

  .wrapper {
    padding: 60px 10px 10px 10px;
  }
}
