#nav-top-bar-component {
  background: #000;
  left: 0;
  padding: 25px 10px 5px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 2;

  h4 {
    display: inline;
    font-family: $sans_bold;
    vertical-align: middle;
  }

  i {
    font-size: 2.37rem;
    left: 10px;
    position: absolute;
    top: 16px;
  }
}