#app-component {
  height: 100%;
}

#page-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: margin 0.1s ease 0;

  &.sidebar-shift {
    margin-left: 250px;
  }

  #inner-page {
    height: 100%;
  }
}
